## ==================================================================
## Generates an ant script for Cobol to XML Schema translation
##
<?xml version="1.0" encoding="UTF-8"?>
<!-- =================================================================================
     This script translates a COBOL Structure to an XML Schema.
 -->
<project basedir="${antModel.productLocation}" default="signalSuccess" name="translate-cobol-structure-to-xsd">

    <!-- ===========================================================  -->
    <!-- Setup environment
    -->
    <target name="init">
    
        <!-- Location of output XML Schemas  -->
        <mkdir dir="${antModel.targetDir}"/>

        <!-- COBOL Structure to XML Schema translator ant task  -->
        <taskdef name="cob2xsd"
            classname="com.legstar.cob2xsd.task.CobolStructureToXsdTask">
            <classpath>
                <fileset dir="${basedir}" includes="lib/*.jar"/>
                <pathelement location="${basedir}/conf"/>
            </classpath>
        </taskdef>
    
    </target>

    <!-- ===========================================================  -->
    <!-- Generate XML Schemas
    -->
    <target name="generateXSD" depends="init">
        <cob2xsd target="${antModel.targetXsdFile}"
## -------------------------------------------------------------------
## XML Schema related options
##
#if(${antModel.context.xsdEncoding})
            xsdEncoding="${antModel.context.xsdEncoding}"
#end
            targetNamespace="${antModel.context.targetNamespace}"
            mapConditionsToFacets="${antModel.context.mapConditionsToFacets()}"
#if(${antModel.context.customXsltFileName})
            customXsltFileName="${antModel.context.customXsltFileName}"
#end
            nameConflictPrependParentName="${antModel.context.nameConflictPrependParentName()}"
            elementNamesStartWithUppercase="${antModel.context.elementNamesStartWithUppercase()}"

## -------------------------------------------------------------------
## LegStar annotations related options
##
            addLegStarAnnotations="${antModel.context.addLegStarAnnotations()}"

## -------------------------------------------------------------------
## COBOL compiler related options
##
            currencySign="${antModel.context.currencySign}"
            currencySymbol="${antModel.context.currencySymbol}"
            nSymbolDbcs="${antModel.context.nSymbolDbcs()}"
            decimalPointIsComma="${antModel.context.decimalPointIsComma()}"
            quoteIsQuote="${antModel.context.quoteIsQuote()}"
        >
            <fileset file="${antModel.cobolSourceFilePath}"/>
        </cob2xsd>
    </target>
  
    <!-- ===========================================================  -->
    <!-- Delete the probe file to signal success
    -->
    <target name="signalSuccess" depends="generateXSD">
        <delete file="${antModel.probeFile}" quiet="true"/>
    </target>
    
</project>